*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
     height: 70vh; 
    background-image: url(https://media.assettype.com/film-companion/import/wp-content/uploads/2020/03/Moonwalking-The-Plank-The-Lifecycle-Of-A-Background-Dancer-.jpg?w=480&auto=format,compress&fit=max);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav{
    margin: auto;
    width: 1100px;
    display: flex;
    justify-content: end;
    gap: 2rem;
    padding-top: 2rem;
}

 .hamburger, #toggle{
    display: none;
}

.navEnd{
     display: flex;
    gap: 1rem;
    justify-content: end;
}

.navEnd > a{
    text-decoration: none;
    color: #535353;
    font-size: 0.8rem;
    text-transform: uppercase;
     letter-spacing: 0.1rem;
      padding-top: 1rem;
}

.ticBox{
    display: flex;
    gap: 1rem;
    justify-content: end;
    border-left: 1px solid #535353;

}

.ticBox > a{
    padding-left: 1.5rem;
     text-decoration: none;
    color: #535353;
    font-size: 0.8rem;
    text-transform: uppercase;
     letter-spacing: 0.1rem;
      padding-top: 1rem;
}

.ticBox > span {
     border: 1px solid #484747;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #484747; 
}

.bannerTitle{
    max-width: 400px;
     margin: auto;
     margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerTitle > h1{
    color: white;
    text-transform: capitalize;
    font-size: 5rem;
}

@media(min-width:320px) and (max-width: 500px){
    nav{
        max-width: calc(100% - 40px);
        display: flex;
        justify-content: space-between;
    }
     .hamburger{
        display: block;
        font-size: 2rem;
        color: #fff;
     }
     .navEnd{
        position: absolute;
        width: 85%;
        padding: 1.4rem 1rem;
        top: 5rem;
        left: 0px;
        z-index: 1;
        background-color: #0a0701;
        opacity: 0.8;
        border-bottom: 4px solid #fff;
        transform: translatex(-100%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
     }
     .navEnd > a{
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #fff;
        border-bottom: 2px solid #5c5c5c;
        padding-bottom: 0.5rem;
     }

      #toggle:checked + .navEnd{
        display: block;
        transform: none;
    }

}

/* styling for subcribe section */
section{
    background-color: #232323;
    padding-block: 3rem;
}

.subscribeWrapper{
    max-width: 1100px;
    margin: auto;
    display: flex;
    gap: 1rem; 
    align-items: center;
}

.formWrapper{
    height: 400px;
    width: 400px;
}
.formWrapper>h1{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 3rem;
    width: 300px;
    padding-bottom: 2rem;
    color: #fff;
}

.inputCont{
    border-bottom: 1px solid #484747;
    margin-bottom: 1rem;

}

.inputCont>input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-block: 0.4rem;
    padding-bottom: 1.2rem;
}

.inputCont>input::placeholder{
    text-transform: uppercase;
    font-size: 12px;
    color: #484747;
    letter-spacing: 0.2rem;
}

.submitBtn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    }

    .submitBtn>button{
        text-transform: uppercase;
        font-size: 12px;
        background-color: transparent;
        border: none;
        color: #484747;
        letter-spacing: 0.1rem;
        padding-top: 10px;
    }

    .submitBtn>span{
        border: 1px solid;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #484747;
    }



    .info{
        height: 50vh ;
        width: 39%;
        margin-left: 100px;
    }

    .info>h3{
        text-transform:capitalize;
        font-weight: 400;
        font-size: 2rem;
        width: 200px;
        color: #fff;
        padding-bottom: 1.2rem;
        border: none;
    }

    .info>p{
        text-transform: capitalize;
        color: #5c5c5c;
        align-items: center ;
        padding-bottom: 1rem;
        border: none;
        line-height: 25px;
    
    }

.info> p >.mail{
    color: #a7a7a7;

}

.infoIcons{
    margin-top: 1rem;
}
.infoIcons>a{
    color: #fff;
    padding-right: 15px;
}

.mapCont{
    padding-bottom: 80px;
    padding-top: 30px;
}

@media(min-width:320px) and (max-width: 500px){
    .subscribeWrapper{
        width: calc(100% - 40px);
        flex-direction: column;
    }

    .formWrapper{
        height: 300px;
        width: 300px;
    }

    .formWrapper > h1{
        font-size: 1.5rem;
    }

    .inputCont{
        margin-bottom: 0.5rem;
    }

    .inputCont>input::placeholder{
        font-size: 10px;
    }

    .submitBtn > button{
        font-size: 10px;
        padding-top: 1px;
    }

        .submitBtn>span{
            width: 25px;
            height: 25px;
        }

         .info{
        height: 30vh ;
        width: 80%;
        margin-left:1px;
         }

         .info > h3  {
        font-size: 1rem;
        padding-bottom: 1rem;
         }

            .info>p{
        padding-bottom: 1rem;
        line-height: 20px;
    
    }

    .infoIcons{
    margin-top: 0.2rem;
     }

     .mapCont{
        padding-top: 170px;
        padding-bottom: 0;
     }
 }